<% user=book[:borrow_info][:borrower]  %>
<div class="modal-dialog " role="document">
  <div class="modal-content borrow-modal">
    <div class="modal-header user">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title text-center">
        <%= link_to user[:user_url], target: '_blank', class: 'avatar-wrapper' do %>
            <%= image_tag(user[:avatar], class: 'img-round avatar') %>
        <% end %>
        <%= link_to user[:user_name], user[:user_url], class: 'inherit-color' %>
      </h4>
    </div>
    <div class="modal-body book-info">
      <div class="row">
        <div class="book-cover col-xs-3">
          <%= link_to book[:url], target: '_blank' do %>
              <%= image_tag(book[:cover], class:"img-responsive" ) %>
          <% end %>
        </div>
        <div class="col-xs-9">
          <h4 class="book-title"><%= link_to book[:title], book[:url], class: 'inherit-color'%></h4>
          <label>地点:</label> <span>酒仙桥 <%= user[:distance] %>m附近</span>
          <br>
          <label>时长:</label> <span>1 周</span>
          <br>
          <label>费用:</label> <span>1 元 (+ 保险 0.2 元)</span>
          <br>
          <br>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#testModal">找TA借书</button>

        </div>
      </div>
    </div>
    <div class="modal-body message-box">
    </div>
    <div class="modal-footer send-message">
      <form class="form-inline">
        <div class="form-group">
          <input class="form-control" placeholder="Hi, <%= user[:user_name] %>, 这本书怎么样？">
        </div>
        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#testModal">发送</button>
      </form>
    </div>
  </div>
</div>


