<div>
  <div class="books">
    <% @books.each do |book|  %>
      <%= render(partial: 'book', locals:{book: book}) %>
    <% end  %>

    <div class="pagination col-xs-12 text-center">
      <%= link_to '下一页', '#', class: 'btn btn-default btn-lg', data: {toggle: 'modal', target: '#testModal'} %>
    </div>

    <div class="col-xs-12 footer visible-xs-block">
      <span class="text-muted">
        什么是豆瓣有读？
      </span>
      <span class="text-muted pull-right">
        Made by <%= link_to '子珂', '#', target: '_blank' %>
      </span>
    </div>
  </div>
  <div class="map hidden-xs">
    <%= render('map') %>
  </div>

  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <%= render(partial: 'borrow_modal', locals: { book: @books.first  }) %>
  </div>
  <div class="modal fade" id="testModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content">
        <div class="modal-body text-center">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4>产品还在内测中，你可以</h4>
          <button type="button" class="btn btn-primary btn-lg" data-dismiss="modal">申请测试</button>
        </div>
      </div>
    </div>
  </div>
</div>