<div class="book ">
  <div class="row">
    <div class="book-cover col-md-3">
      <a><%= image_tag(book[:cover], class:"img-responsive" ) %></a>
    </div>
    <div class="book-info col-md-9">
      <h3 class="book-title"><%= book[:title] %></h3>
      <div class="rating-info">
        <span class="rating"><%= book[:rating] %> </span>
        <span class="rating-right text-info">
          <span class="star<%= book[:rating].ceil %> star-img"> </span>
          <small><%= book[:ratings_num] %>人评价</small></span>
      </div>
      <div class="category">
        <%= book[:category] %>
      </div>

      <% book[:reviews].each do |review| %>
          <div class="review">
            <span class="user">
              <a href=""><%= review[:user] %></a>:
              <%= review[:content] %>
            </span>
            <span class="likes pull-right">
              <small>
                <a href=""><%= fa_icon "thumbs-o-up" %></a> <%= review[:likes] %>
              </small>
            </span>
          </div>
      <% end %>
      <div class="borrow-info">
        <% if book[:borrow_info][:avaiable]  %>
            <% borrower = book[:borrow_info][:borrower]  %>
            <%= image_tag(borrower[:avatar], class: 'img-round pull-left avatar' ) %>
            <h4 class="pull-left">
              <%= borrower[:user_name] %> 有这本书
              <br>
              <small>附近<%= borrower[:distance] %>m, <%= borrower[:record_num] %>人借过</small>
            </h4>
            <div class="btn-group pull-right borrow-button" >
              <button type="button" class="btn btn-primary btn-lg"
                      data-toggle="modal" data-target="#myModal">借</button>
              <button type="button" class="btn btn-default btn-lg"
                      data-toggle="modal" data-target="#myModal">在线试读</button>
            </div>
        <% else  %>
            <% wishers = book[:borrow_info][:wishers]  %>
            <% wishers.each do |wisher| %>
                <%= image_tag(wisher[:avatar], class: 'img-round pull-left avatar wisher' ) %>
            <% end  %>
            <h4 class="pull-left">
              <%= wishers.first[:user_name] %> 等<%= wishers.count %>人想读
              <br>
              <small>附近 <%= wishers.first[:distance]  %>m</small>
            </h4>
            <div class="btn-group pull-right borrow-button" >
              <button type="button" class="btn btn-success btn-lg">我有</button>
              <button type="button" class="btn btn-default btn-lg">+1</button>
            </div>
        <% end  %>
      </div>
    </div>
  </div>
</div>