<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <h2>
        <span class="first">豆瓣</span><span class="second">友</span><span class="third">读</span>
        <small>目前仅支持北京酒仙桥地区</small>
      </h2>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#">About</a></li>
    </ul>
  </div>
</nav>

<div >
    <div class="books">
      <div class="book ">
        <div class="row">
          <div class="book-cover col-md-3">
            <a class="nbg" href="https://img3.doubanio.com/lpic/s29215340.jpg" title="A Man for All Markets">
              <img src="https://img3.doubanio.com/lpic/s29215340.jpg" alt="A Man for All Markets" class="img-responsive" >
            </a>
          </div>
          <div class="book-info col-md-9">
            <h3 class="book-title">A Man for All Markets</h3>
            <div class="rating-info">
              <span class="rating">8.8 </span>
              <span class="rating-right text-info">
                <span class="star9 star-img"> </span>
                <small>19人评价</small></span>
            </div>
            <div class="category">
              投资 / 金融 / 传记
            </div>

            <% @reviews.each do |review| %>
              <div class="review">
              <span class="user">
                <a href=""><%= review[:user] %></a>:
                <%= review[:content] %>
              </span>
              <span class="likes pull-right">
                <small>
                  <a href=""><%= fa_icon "thumbs-o-up" %></a> <%= review[:likes] %>
                </small>
              </span>
                </div>
            <% end %>
            <div class="review">
              <span class="user">
                <a href="">子珂</a>: <strong>天才与那个待他征服的世界</strong> 半本好书，前面挺有意思，讲他如何少年时的读书生涯，如何在几个专业间流转，如何解出21点，如何成为最早的quant并建立自己的hedge fund。
                可惜后面部分行文太过随意，没什么有深度的东西了
                <a href="">...<small>阅读全文</small></a>
              </span>
              <span class="likes pull-right">
                <small>
                  <a href=""><%= fa_icon "thumbs-o-up" %></a> 62
                </small>
              </span>
            </div>

            <div class="borrow-info">
              <img src="https://z2.muscache.com/im/pictures/a6e1f204-9e02-46cd-961a-0f6440abfbdd.jpg?aki_policy=profile_x_medium"
                   class="img-round pull-left avatar" height="64" width="64">
              <h4 class="pull-left">
                Jackie 等4人有这本书
                <br>
                <small>25人借过</small>
              </h4>
              <div class="btn-group pull-right borrow-button" >
                <button type="button" class="btn btn-primary btn-lg"
                        data-toggle="modal" data-target="#myModal">借</button>
                <button type="button" class="btn btn-default btn-lg"
                        data-toggle="modal" data-target="#myModal">在线试读</button>
              </div>
            </div>
          </div>
        </div>



      </div>
      <% @books.each do |book|  %>
          <%= render(partial: 'book', locals:{book: book}) %>
      <% end  %>
    </div>
    <div class="map">
      <%= render('map') %>
    </div>

    <%= render('borrow_modal') %>
</div>